<template>
    <div class="modal" :class="{ active : modalOpen }">
        
        <div class="popup-small">
            {{ message }}

            <button class="button" @click="closePopup">
                {{ button }}  
            </button>
        </div>
        
    </div>
</template>
<script> 

import popup from "../../../../mixins/popup"

export default {
    mixins : [popup]
}

</script>