<template>
    <div class="ticker-wrapper" :class="{ flipped : flipped }" :style="{ animationDuration : duration + 's', fontSize : size, minHeight : size }">
        <span ref="sample">{{ text }}</span>
        <span :style="{ animationDelay : duration / 2 + 's' }">{{ text }}</span>
    </div>
</template>
<script>

export default {
    props : {
        text    : {
            required    : true
        },
        time    : {
            default : 1,
            type    : Number
        },
        flipped : {
            default : false,
            type    : [Boolean, Number]
        },
        autosize : {
            default : false,
            type    : [Boolean, Number]
        },
        scrollingOptional : {
            default : false,
            type : [Boolean, Number]
        }
    },
    data() {
        return {
            font        : "",
            width       : 0
        }
    },
    computed : {
        duration()
        {
            if(this.scrollingOptional && window.innerWidth > this.width)
                return false

            return ( (Number(this.normalize) * .1 )* this.text.length ) * this.time
        },
        normalize()
        {
            if(!this.font)
                return

            if(this.font.includes("px"))
                return this.font.substr(0, this.font.length -2) / 16

            if(this.font.includes("rem"))
                return this.font.substr(0, this.font.length - 3)

            if(this.font.includes('em'))
                return this.font.substr(0, this.font.length - 2)

            return 1
        },
        size()
        {
            if(!this.autosize)
                return

            let proportion = window.innerWidth / this.width

            return this.normalize * proportion + 'rem'
        }
    },
    mounted()
    {

            this.font   = window.getComputedStyle(this.$refs.sample, null).getPropertyValue('font-size')
            this.width  = this.$refs.sample.scrollWidth
    }
}

</script>

<style>

.ticker-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ticker-wrapper span {
    animation-name: ticker-scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: inherit;
    position: absolute;
    top: 0;
    display: block;
    white-space: pre;
}

.ticker-wrapper.flipped span{
    transform: translateX(100%);
    animation-direction: reverse;
}

.ticker-wrapper:not(.flipped) span {
    transform: translateX(-100%);
}

@keyframes ticker-scroll {
    0%   { transform: translateX(100%);   }
    100% { transform: translateX(-100%);  }
}

</style>