<template>
    <div class="radial-progress">
      <div class="circle">
        <!-- Left mask -->
        <div class="mask full" :style="{ transform : rotation }">
            <div class="fill" :style="{ transform : rotation }"/>
        </div>

        <!-- Right mask -->
        <div class="mask half">
            <div class="fill" :style="{ transform : rotation }"/>
            <!-- Solves overlap issue -->
            <div class="fill fix" :style="{ transform : double }"/>
        </div>

      </div>
    </div>
</template>
<script>

export default {
    name  : "radial",
    props : {
        progress : {
            required    : true,
            type        : Number
        },
        total   : {
            type        : Number,
            default     : 100
        }
    },
    computed : {
        completion()
        {
            if(this.total === 100)
                return Math.min(this.progress, 100)

            return this.progress / Number(this.total) * 100
        },
        rotation(){
            return "rotate(" + ( 180 * (this.completion / 100)  ) + "deg)"
        },
        double()
        {
            return "rotate(" + ( 180 * (this.completion / 100)  ) * 2 + "deg)"
        }
    }
}

</script>
<style lang="scss" scoped>

/* Styling should be moved to own document */

/* Radial rules */
$circle-background  : #d6dadc;
$circle-color       : #f62459;
$circle-size        : 3.875rem;
$circle-transition  : .5s;
$circle-thickness   : 1.875rem;


.radial-progress {
    width:  $circle-size;
    height: $circle-size;
    background-color: $circle-background;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    &::before {
        content: "";
        height: $circle-size - $circle-thickness;
        width: $circle-size - $circle-thickness;
        border-radius: 100%;
        position: absolute;
        top: $circle-thickness / 2;
        left: $circle-thickness / 2;
        background: #fff;
        z-index: 100;
        pointer-events: none;
    }

    .circle {
        // General rules
        .mask, .fill {
            width: $circle-size;
            height: $circle-size;
            position: absolute;
            border-radius: 100%;
            transition: transform $circle-transition;
            backface-visibility: hidden;
        }
        // Mask
        .mask {
            clip: rect(0px, $circle-size, $circle-size, $circle-size / 2);
        }
        // Fill
        .mask .fill {
            clip: rect(0px, $circle-size / 2, $circle-size, 0px);
            background-color: $circle-color;
        }
    }
}


</style>